@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply transition-colors duration-500 ease-in-out antialiased;
    overflow-x: hidden;
    /* Evita scroll horizontal indeseado */
}